#
# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements.  See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License.  You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
# Proposal queue and backpressure tuning (OSGi Config Admin)
# Place overrides in your runtime config/ or config.<env>/ directory.

confirmation_timeout_ms=300000
restore_timeout_ms=300000
max_message_batch=10
max_retry_count=5
finalization_chunk_size=3
verifier_threads=1
processed_retention_ms=600000
persistence_flush_interval_ms=250
persistence_flush_batch=100
max_pending_messages=10000
backpressure_timeout_ms=30000
backpressure_park_nanos=1000000
