.settings
.classpath
.project
target
oak-run/*.csv
.idea
*.ipr
*.iws
*.iml
atlassian-ide-plugin.xml
.checkstyle
derby.log
.java-version
oak-shaded-guava/dependency-reduced-pom.xml
oak-segment-consensus/dependency-reduced-pom.xml
oak-segment-consensus/META-INF/MANIFEST.MF
.DS_Store
# Built artifacts (JARs should not be committed)
*.jar
!**/src/**/*.jardocs/
